:root {
    --color-primary: 176 64% 39%;
    --color-primary-light: 176 100% 61%;
    --color-primary-dark: 176 98% 21%;
    
    --color-highlight-1: 356 64% 39%;
    --color-highlight-2: 266 64% 39%;
    --color-highlight-3: 86 64% 39%;

    --color-light-1: 176 56% 93%;
    --color-light-2: 176 18% 82%;
    --color-light-3: 176 10% 70%;

    --color-dark-1: 176 4% 38%;
    --color-dark-2: 176 4% 23%;
    --color-dark-3: 176 4% 7%;

    --ff-regular: 'Poppins', sans-serif;
    --ff-heading: 'Smokum', cursive;

}